h1 {
    color: rgb(75, 00, 00);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: inherit;
    letter-spacing: -40px;
    line-height: 5;
    text-align: right;
}

p {
    color: #ce13af;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    line-height: 5px;
    margin: 0 5 5px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 20px;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}

h3 
{color: #685306;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 1in;
text-align: right;
}