h1 {
    color: rgb(75, 00, 00);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: inherit;
    letter-spacing: -40px;
    line-height: 5;
    text-align: right;
}

p {
    color: #ce13af;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    line-height: 5px;
    margin: 0 5 5px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 20px;
    padding: 0;
    background-color: aqua;
    text-align: right
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 20px solid rgb(226, 4, 197);
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:5px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:20px;
    margin:20px;
    color: chocolate;
    font-size: 30px
}

h3 
{color: #685306;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 1in;
text-align: right;
}

div
{color: yellow;
    background-color: black
}

ol{ color: rgb(252, 28, 4)}

textarea{ color: cornflowerblue;font-size: 3cm;
    font-family: cursive;
    font-style: oblique
}

form{background-color: #ce13af;
border-color: aquamarine;}

